notifications:
  email:
    on_success: never
    on_failure: always

language: csharp
mono: none
dotnet: 1.0.4
branches:
  only:
    - master

solution: ./netcoreCSVParser.sln

install:
  - dotnet restore ./src/netcoreCSVParser

script:
  - dotnet build ./src/netcoreCSVParser

after_script:
  - dotnet clean ./src/netcoreCSVParser
